# -------- logging --------
[*]
configuration.channel    = output-channel
dot.channel              = nil
encoding                 = UTF-8
error.channel            = output-channel, stderr
log.channel              = output-channel
progress.channel         = output-channel
real-time-factor.channel = output-channel
statistics.channel       = output-channel
system-info.channel      = output-channel
time.channel             = output-channel
version.channel          = output-channel
warning.channel          = output-channel, stderr

[*.output-channel]
append     = no
compressed = no
file       = $(LOGFILE)
unbuffered = yes


# -------- global setup: data corpus, lexicon, etc. --------
[flf-lattice-tool.corpus]
audio-dir                      = /
capitalize-transcriptions      = no
file                           = /u/corpora/speech/LibriSpeech/corpora/dev-other.corpus
progress-indication            = global
warn-about-unexpected-elements = yes

[flf-lattice-tool.global-cache]
file = global.cache

[flf-lattice-tool.lexicon]
file                    = adsm.lexicon.xml.gz
normalize-pronunciation = no


# -------- complete processing flow network -------- #
[flf-lattice-tool.network]
initial-nodes = segment

[flf-lattice-tool.network.segment]
links = 1->recognizer:1 0->archive-writer:1
type  = speech-segment

[flf-lattice-tool.network.archive-writer]
format = flf
info   = yes
links  = sink:1
path   = lattice.cache.$(TASK)
type   = archive-writer

[flf-lattice-tool.network.sink]
error-on-empty-lattice = no
type                   = sink
warn-on-empty-lattice  = yes


# -------- recognizer --------
[flf-lattice-tool.network.recognizer]
type                          = recognizer
links                         = archive-writer
use-acoustic-model            = no
pronunciation-scale           = 1.0
feature-extraction.file       = feature.flow
lm.type                       = simple-history # no LM applied
search-type                   = generic-seq2seq-tree-search

# ---- S2S label scorer ----
[flf-lattice-tool.network.recognizer.label-scorer]
blank-label-index       = 0
label-file              = /u/zhou/asr-exps/librispeech/dependencies/ADSM/iter2-refine-final_subsample4/ctc-train/vocab
label-scorer-type       = tf-rnn-transducer # monotonic w/o specifying use-vertical-transition
max-batch-size          = 256
reduction-factors       = 2,2
scale                   = 1.0
use-start-label         = yes
start-label-index       = 5047 # any out-of-range index triggers all-0 embeddings
transform-output-negate = yes

[flf-lattice-tool.network.recognizer.label-scorer.feature-input-map.info-0]
param-name             = feature
seq-length-tensor-name = extern_data/placeholders/data/data_dim0_size
tensor-name            = extern_data/placeholders/data/data

[flf-lattice-tool.network.recognizer.label-scorer.loader]
meta-graph-file    = /u/zhou/asr-exps/librispeech/2021-06-16_ADSM/work/crnn/compile/CompileTFGraphJob.5gJOxr8kEoEn/output/graph.meta
required-libraries = NativeLstm2.so # compiled with matched TF version
saved-model-file   = /u/zhou/asr-exps/librispeech/2021-06-16_ADSM/alias/02_adsm-5k-ss4_transducer-fullsum/train_adsm5k-ss4-conformer-transducer-fullsum_noGradNoise-better_lm-1-1024_continue-LR5e-5/output/models/epoch.200
type               = meta

# ---- S2S Tree Search ----
[flf-lattice-tool.network.recognizer.recognizer]
allow-blank-label            = yes
allow-label-recombination    = yes
allow-word-end-recombination = no
create-lattice               = no
optimize-lattice             = no
use-lm-score                 = no
lm-lookahead                 = no
simple-beam-search           = yes
fixed-beam-search            = yes
label-pruning                = 0
label-pruning-limit          = 12
word-end-pruning             = 0
word-end-pruning-limit       = 12 # fixed beam size
full-sum-decoding            = yes # full-sum recombination: no for Viterbi recombination

[flf-lattice-tool.network.recognizer.recognizer.label-tree]
label-unit   = word # <orth> in lexicon
skip-silence = yes

