[lib-rasr.data-extractor.feature-extraction]
file = /nas/models/asr/hyoshimochi/setups/2024-08-06-nour-internship/feature.flow.small

[lib-rasr.corpus]
file                           = /nas/models/asr/hyoshimochi/setups/2024-08-06-nour-internship/test/corpus.xml.gz
allow-empty-whitelist          = true
